body {
    font-family: helvetica;
    text-align: center;
}

.theme {
    color:rgb(245, 141, 127);
    background-color: rgba(246, 255, 196, 0.904);
}

#demo {
    color:rgb(245, 141, 127);
    background-color: rgba(246, 255, 196, 0.904);
    font-family: helvetica;
    text-align: center;
    font-size:40px;
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgba(246, 255, 196, 0.904);
    padding: 10px;
  }

  .grid-item {
    color: rgb(54, 54, 54);
    background-color: rgba(246, 255, 196, 0.904);
    border: none;
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }


#hello {
    width: 200px;
    height: 100px;
    color: rgb(54, 54, 54);
    background-color: rgb(245, 141, 127);
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    font-family: helvetica;
    border: rgba(32, 32, 32, 0.884);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0  rgba(255, 236, 130, 0.884);
    transition: ease-out 0.3s;
    outline: none;
    cursor: pointer;
}

#hello:hover {
    box-shadow: inset 300px 0 0 0  rgba(255, 236, 130, 0.884);
    color: rgb(54, 54, 54);
}
  